<div class="aali_tm_section" id="contact">
    <div class="aali_tm_contact">
        <div class="container">
            <div class="aali_tm_main_title" data-text-align="center" data-color="dark">
                <span>İletişime Geçin</span>
                <h3>Benimle Bağlantı Kurun</h3>
            </div>
            <div class="contact_inner">
                <div class="left wow fadeInLeft" data-wow-duration="1s">
                    <div class="text">
                        <p>
                            Benimle iletişime geçmek için
                            lütfen bu bölümdeki formu doldurunuz.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <div class="list_inner">
                                <img class="svg" src="~/portfolio/html/img/svg/call.svg" alt="" />
                                <span>Telefon</span>
                                <h3>0 555 524 26 51</h3>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                                <img class="svg" src="~/portfolio/html/img/svg/message.svg" alt="" />
                                <span>Mail Adresi</span>
                                <h3><a class="line_anim" href="mailto:deneme@gmail.com">deneme@gmail.com</a></h3>
                            </div>
                        </li>
                        <li>
                            <div class="list_inner">
                                <img class="svg" src="~/portfolio/html/img/svg/edit.svg" alt="" />
                                <span>Adres</span>
                                <h3>İstanbul/Üsküdar</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="right wow fadeInRight" data-wow-duration="1s">
                    <div class="fields">
                        <form method="post" class="contact_form" id="contact_form" autocomplete="off">
                            <div class="input_list">
                                <ul>
                                    <li><input id="name" name="NameSurname" type="text" placeholder="Ad Soyad" /></li>
                                    <li><input id="email" name="Email" type="email" placeholder="Mail Adresi" /></li>
                                    <li><input id="phone" name="Subject" type="text" placeholder="Konu" /></li>
                                </ul>
                            </div>
                            <div class="message_area">
                                <textarea id="message" name="Message" placeholder="Mesajınız"></textarea>
                            </div>
                            <div class="aali_tm_button">
                                <button class="buttonContact">
                                    <span>
                                        Mesajı Gönder <img class="svg" src="~/portfolio/html/img/svg/send.svg" alt="" />
                                    </span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <span class="square moving_effect" data-direction="y" data-reverse="yes"></span>
    </div>
</div>
