
<div class="aali_tm_section">
    <div class="aali_tm_counter">
        <div class="container">
            <div class="counter_list">
                <ul class="wow fadeIn" data-wow-duration="1s">
                    <li>
                        <div class="list_inner">
                            <div class="wrapper">
                                <div class="value">
                                    <span class="abs">
                                        <span class="tm_counter" data-from="0" data-to="25" data-speed="1200">25</span>
                                    <label class="big">+</label></a>
                                </div>
                                <div class="text">
                                    <h3>.NET<br />Projesi</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <div class="wrapper">
                                <div class="value">
                                    <span class="abs"><span class="tm_counter" data-from="0" data-to="50000" data-speed="1200">50000</span><label class="small">+</label></span>
                                </div>
                                <div class="text">
                                    <h3>Kod<br />Satırı</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="list_inner">
                            <div class="wrapper">
                                <div class="value">
                                    <span class="abs"><span class="tm_counter" data-from="0" data-to="15" data-speed="1200">15</span><label class="small">+</label></span>
                                </div>
                                <div class="text">
                                    <h3>Mutlu<br />Müşteri</h3>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <span class="border moving_effect" data-direction="x"></span>
    </div>
</div>