
<div class="aali_tm_section" id="resume">
    <div class="aali_tm_resume">
        <div class="content">
            <div class="container">
                <div class="resume_in">
                    <div class="aali_tm_main_title" data-text-align="left" data-color="dark">
                        <span>Bugüne Kadar</span>
                        <h3>Özgeçmişim</h3>
                        <p>
                            Bugüne kadar eğitim ve çalışma 
                            hayatım hakkında detaylı bilgiler 
                            burada yer almaktadır.
                        </p>
                    </div>
                    <div class="content_inner">
                        <ul>

                            @Html.Action("Education")
                            
                            @Html.Action("WorkingLife")
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="media" data-background-style="video">
            <!-- Background Styles: "video" and "image" // Also you can use any youtube, vimeo, and local videos -->
            <div class="video jarallax" data-speed="0" data-jarallax-video="https://vimeo.com/337293658"></div>
            <div class="image jarallax" data-speed="0" data-img-url="/portfolio/html/img/about/2.jpg"></div>
            <span class="square moving_effect" data-direction="y" data-reverse="yes"></span>
        </div>
    </div>
</div>