
@using PortfolioProject.Models.Entity
@model List<Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 header-title">Hizmetlerim</h4>
                <p class="text-muted font-14 mb-3">
                    Bu kısımda hizmetlerim bilgileri yer almaktadır.
                </p>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>İçerik</th>
                                <th>Sil</th>
                                <th>Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">#</th>
                                    <td>@item.Title</td>
                                    <td>@item.Content</td>
                                    <td>
                                        <a href="/Service/ServiceDelete/@item.ID" class="btn btn-danger">Sil</a>
                                    </td>
                                    <td>
                                        <a href="/Service/ServiceUpdate/@item.ID" class="btn btn-warning">Düzenle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </div>
</div>

<a href="/Service/ServiceAdd/" class="btn btn-success">Yeni Ekle</a>

